<!--<h1>Angular</h1>
<courses></courses>
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<input type="text" [(ngModel)]="title">
<br>{{title | titleCase }}-->
<!--<like [likesCount]="tweet.likeCount"
    [isLiked]="tweet.isLiked">
    
</like>
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>-->
<!--<new-course-form>

</new-course-form>-->
<!--<signup-form></signup-form>-->
<!--<app-posts></app-posts>-->
<!--<github-followers></github-followers>-->
<!-- Final Code-->
 <navbar>
</navbar>
<div class="container">
    
</div>
<router-outlet></router-outlet>
